
  #helloworld {
    font-weight: 600;
    font-size: 30px;
    padding: 20px;
    background-color: #4dace2;
    border: 1px solid #0C6BA1;
    max-width: 600px;
  }
  #browsers {
    font-weight: 600;
  }
  .warning {
    max-width: 600px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 18px;
  }
  .browserinfo {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }
  a {
    font-weight: 600;
  }