

{% extends "bootstrap/base.html" %}

<!-- Add our css to the head block -->
{% block css_base %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
{% endblock %}

 <!-- Change the title -->
{% block title %}Testing web development with Flask {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
        <form class="navbar-form pull-right">
            <div class="form-group">
                <input type="text" class="span2" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" class="span2" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn-inverse">Submit</button>
        </form>
</div>
{% endblock %}
<!-- Modify bootstrap's body content with ours -->
{% block top %}
    {{super()}}
        <div class="center">
        <header id="logo">
            <img src="careerMedley.png" >
        </header>
        <form class="form-inline" id="form">
            <div class="form-group">
                <input type="text" class="form-control" id="job search" placeholder="Job Title, Keywords">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location" placeholder="Location">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
{% endblock %}

