<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>PeerJS Hello World Code Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="../static/js/peer.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</head> 
 
<body> 
<h1> Welcome, I am the Web App!!!</h1>
  <div id="helloworld"></div>
</body> 
</html> 
