<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>PeerJS Hello World Code Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="../static/js/peer.js"></script>
<script type="text/javascript" src="../static/js/index2.js"></script>
</head> 
 
<body> 
<h1>Welcome, I am the App Inventor!!!</h1>
<div id="helloworld"></div>
<!--<div> <img src="../static/assets/Happy-face.png"></div>-->
<!--<div class="log" style="color:#FF7500;text-shadow:none;padding:15px;"><strong>Connection status</strong>:<br></div>-->
</body> 
</html> 
